# dependencies
/node_modules/

# Node / Vite / Electron
node_modules/
dist/
build-cache/

# build
/dist/
/build-cache/
/release/
/release-new/
/win-unpacked/
/**/win-unpacked/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# misc
.DS_Store
Thumbs.db
